services:
  db:
    image: postgres:16
    container_name: quizdev-db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: quizdev-backend
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: quizdev
      DB_PASSWORD: quizdev
      DB_NAME: quizdev
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - ./backend:/app
      - /app/node_modules

  mobile:
    build: ./mobile
    container_name: quizdev-mobile
    command: ["sh", "-c", "npm install && npx expo start --lan --go"]
    env_file:
      - .env
    environment:
      REACT_NATIVE_PACKAGER_HOSTNAME: ${REACT_NATIVE_PACKAGER_HOSTNAME}
    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "8081:8081"
    depends_on:
      - backend
    volumes:
      - ./mobile:/app
      - /app/node_modules
    tty: true
    stdin_open: true

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: quizdev-pgadmin
    env_file:
      - .env
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  db_data:
  pgadmin_data:
